body{
    font-family: Arial, Helvetica, sans-serif;
}
h1,h3,#response{
    text-align: center;
}
h1{
    font-size: 50px;
}
#inputContainer,#buttonContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
input{
    width:360px;
    height:35px;
    border:1px solid rgb(0, 0, 0);
    border-radius: 6px;
    font-size: 18px;
    margin:30px 0 50px 0;
}
#buttonContainer{
    column-gap: 30px;
}
h3{
    margin:60px 0 30px 0;
    font-size: 24px;
}
#instructionContainer,#instructions{
    display:flex;
    justify-content:center;
}
#instructions{
    flex-direction: column;
    row-gap: 15px;
    font-size: 18px;
}
button{
    font-size: 18px;
    padding:8px 13px 8px 13px;
    color:#fff;
    border-radius: 6px;
    border:none;
}
#get{
    background-color: rgb(0, 192, 0);
}
#post{
    background-color: rgb(44, 222, 228);
}
#put{
    background-color: rgb(212, 55, 7);
}
#response{
    font-size:2.8vh;
    margin:50px;
    font-weight: 600;
}